doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    link(rel='icon', href='../images/logos/3.ico')
    |     
    title Dashboard
    // Bootstrap core CSS
    link(href='../stylesheets/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='../stylesheets/dashboard.css', rel='stylesheet')
    // CSS of sb-admin templates
    link(href='../stylesheets/sb-admin.css', rel='stylesheet')
    | &#x9;
    |     
    script(src='../../../assets/js/ie-emulation-modes-warning.js')
  |   
  body(style='background-color: #F6F6F6')
    // Header
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid(style='background-color: #FFF')
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            |             
            span.icon-bar
            |             
            span.icon-bar
            |             
            span.icon-bar
          | &#x9;&#x9;  
          img(style='float:left; padding-top:5px; margin-right:20px', src='../images/logo.png', height='15%', width='15%')
          |           
          a.navbar-brand(href='#') Healsis
        |         
        #navbar.navbar-collapse.collapse
          a.btn.btn-sm.btn-default(href='../index.jade', type='button', style='font-size:14px; padding-left:15px; padding-right:15px; margin-top:10px; margin-right:20px; float:right') Logout
    |     
    .container-fluid
      .row
        // Navigation Bar
        .col-sm-3.col-md-2.sidebar
          .nav-sidebar-subtitle Data Base
          |   
          |           
          ul.nav.nav-sidebar
            li.active
              a(href='../dashboard.jade') Client Data Inquiry
            |             
            li
              a(href='patient_data_update.jade') Client Data Update
            |             
            li
              a(href='neighbor_stat.jade') Neighborhood Statistics
            |             
            li
              a(href='staff_contact.jade') Staff Contact Info
            | &#x9;&#x9;&#x9;
            li
              a(href='my_profile.jade') My Profile
          | &#x9;&#x9;  
          .nav-sidebar-subtitle Task Center
          |  
          |           
          ul.nav.nav-sidebar
            li
              a(href='assign_tasks.jade') Assgin Tasks
            |             
            li
              a(href='my_tasks.jade') My Tasks
            |             
            li
              a(href='generate_reg.jade') Generate Reg Key
          | &#x9;&#x9;  
          .nav-sidebar-subtitle Personal Health
          |           
          ul.nav.nav-sidebar
            li
              a(href='#') My H-Graph
        // Main Frame
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          h1.page-header My Profile
          // Section Title
          // <h2 class="sub-header">Section title</h2>
          .row
            // Input Column 1/2
            .col-md-5
              .row
                label.item-name.col-md-5 First Name
                | &#x9;&#x9;&#x9;&#x9;
                p#p_FirstName.preload_txt.col-md-7 AAAAA
              | &#x9;&#x9;  
              | &#x9;&#x9;&#x9;  
              .row
                label.item-name.col-md-5 Last Name
                | &#x9;&#x9;&#x9;&#x9;
                p#p_LastName.preload_txt.col-md-7 BBB
              | &#x9;&#x9;&#x9;  
              .row
                label.item-name.col-md-5 Gender
                | &#x9;&#x9;&#x9;&#x9;
                p#p_Gender.preload_txt.col-md-7
              | &#x9;&#x9;&#x9;  
              | &#x9;&#x9;&#x9;  
              .row
                label.item-name.col-md-5 User ID
                | &#x9;&#x9;&#x9;&#x9;
                p#p_UserID.preload_txt.col-md-7
              | &#x9;&#x9;&#x9;  
              | &#x9;&#x9;&#x9;  
              .row
                label.item-name.col-md-5 Responsible Area
                | &#x9;&#x9;&#x9;&#x9;
                p#p_ResponsibleArea.preload_txt.col-md-7
              | &#x9;&#x9;&#x9;  
              | &#x9;&#x9;&#x9;  
              .row
                label.item-name.col-md-5 Resp. Location
                | &#x9;&#x9;&#x9;&#x9;
                p#p_ResponsibleLocation.preload_txt.col-md-7
            // Input Column 2/2
            .col-md-5
              .row
                label.item-name.col-md-5 Cell Phone
                | &#x9;&#x9;&#x9;&#x9;
                input#txtFd_CellPhone.form-control.input-field.col-md-7
              | &#x9;&#x9;&#x9;  
              .row
                label.item-name.col-md-5 Email
                | &#x9;&#x9;&#x9;&#x9;
                input#txtFd_Email.form-control.input-field.col-md-7
              | &#x9;&#x9;&#x9;  
              .row
                label.item-name.col-md-5 Address Line 1
                | &#x9;&#x9;&#x9;&#x9;
                input#txtFd_AddressLine1.form-control.input-field.col-md-7
              | &#x9;&#x9;&#x9;  
              | &#x9;&#x9;&#x9;  
              .row
                label.item-name.col-md-5 Address Line 2
                | &#x9;&#x9;&#x9;&#x9;
                input#txtFd_AddressLine2.form-control.input-field.col-md-7
          // center aligning has no effect if the width property is not set or set to 100%
          #btn_Update.row(style='margin:auto; width:30%; margin-top:5px')
            button.btn.btn-sm.btn-default.btn-big(type='button', onclick='clickUpdate()') Update
    // Scripts are placed at the end of the document so the pages load faster
    // Bootstrap core JavaScript
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    |     
    script(src='../javascripts/bootstrap.min.js')
