<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="../../public/images/logos/3.ico">

    <title>Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="../../public/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../public/stylesheets/dashboard.css" rel="stylesheet">
    <!-- CSS of sb-admin templates -->
    <link href="../../public/stylesheets/sb-admin.css" rel="stylesheet">
	
    <script src="../../../assets/js/ie-emulation-modes-warning.js"></script>	

  </head>

  <body style="background-color: #F6F6F6">

	<!-- Header -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid" style="background-color: #FFF">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
		  <img style="float:left; padding-top:5px; margin-right:20px" src="../../public/images/logo.png" height="15%" width="15%">
          <a class="navbar-brand" href="#">Healsis</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
			<a href="../index.html" type="button" class="btn btn-sm btn-default"  
			 style="font-size:14px; padding-left:15px; padding-right:15px; margin-top:10px; margin-right:20px; float:right">Logout</a>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
	    
		<!-- Navigation Bar -->
		<div class="col-sm-3 col-md-2 sidebar">
		  <div class="nav-sidebar-subtitle">Data Base</div>  
          <ul class="nav nav-sidebar">
            <li class="active"><a href="../dashboard.html">Client Data Inquiry</a></li>
            <li><a href="patient_data_update.html">Client Data Update</a></li>
            <li><a href="neighbor_stat.html">Neighborhood Statistics</a></li>
            <li><a href="staff_contact.html">Staff Contact Info</a></li>
			<li><a href="my_profile.html">My Profile</a></li>
          </ul>
		  <div class="nav-sidebar-subtitle">Task Center</div> 
          <ul class="nav nav-sidebar">
            <li><a href="assign_tasks.html">Assgin Tasks</a></li>
            <li><a href="my_tasks.html">My Tasks</a></li>
            <li><a href="generate_reg.html">Generate Reg Key</a></li>
          </ul>
		  <div class="nav-sidebar-subtitle">Personal Health</div>
          <ul class="nav nav-sidebar">
            <li><a href="#">My H-Graph</a></li>
          </ul>
        </div>
		
		<!-- Main Frame -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">My Profile</h1>

		  <!-- Section Title --> 
          <!-- <h2 class="sub-header">Section title</h2> -->
		  
		  <div class="row">
		  
		    <!-- Input Column 1/2 -->
		    <div class="col-md-5">	
			  <div class="row">
				<label class="item-name col-md-5">First Name</label>
				<p id="p_FirstName" class="preload_txt col-md-7">AAAAA</p>
			  </div>		  
			  <div class="row">
				<label class="item-name col-md-5">Last Name</label>
				<p id="p_LastName" class="preload_txt col-md-7">BBB</p>
			  </div>
			  <div class="row">
				<label class="item-name col-md-5">Gender</label>
				<p id="p_Gender" class="preload_txt col-md-7"></p>
			  </div>			  
			  <div class="row">
				<label class="item-name col-md-5">User ID</label>
				<p id="p_UserID" class="preload_txt col-md-7"></p>
			  </div>			  
			  <div class="row">
				<label class="item-name col-md-5">Responsible Area</label>
				<p id="p_ResponsibleArea" class="preload_txt col-md-7"></p>
			  </div>			  
			  <div class="row">
				<label class="item-name col-md-5">Resp. Location</label>
				<p id="p_ResponsibleLocation" class="preload_txt col-md-7"></p>
			  </div>
			</div>
			  
			<!-- Input Column 2/2 -->
			<div class="col-md-5">
			  <div class="row">
				<label class="item-name col-md-5">Cell Phone</label>
				<input id="txtFd_CellPhone" class="form-control input-field col-md-7">
              </div>
			  <div class="row">
				<label class="item-name col-md-5">Email</label>
				<input id="txtFd_Email" class="form-control input-field col-md-7">
              </div>
			  <div class="row">
				<label class="item-name col-md-5">Address Line 1</label>
				<input id="txtFd_AddressLine1" class="form-control input-field col-md-7">
              </div>			  
			  <div class="row">
				<label class="item-name col-md-5">Address Line 2</label>
				<input id="txtFd_AddressLine2" class="form-control input-field col-md-7">
              </div>
 		    </div>
			
		  </div>
		  
		  <!-- center aligning has no effect if the width property is not set or set to 100% -->
		  <div id="btn_Update" class="row" style="margin:auto; width:30%; margin-top:5px">
			<button type="button" class="btn btn-sm btn-default btn-big" onclick="clickUpdate()">Update</button>
		  </div>
		  
		  
        </div>
      </div>
    </div>

	<!-- Scripts are placed at the end of the document so the pages load faster -->
    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../public/javascripts/bootstrap.min.js"></script>
	
  </body>
</html>
