<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="../images/logos/3.ico">

    <title>Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../stylesheets/dashboard.css" rel="stylesheet">
    <!-- CSS of sb-admin templates -->
    <link href="../stylesheets/sb-admin.css" rel="stylesheet">
	
    <script src="../../../assets/js/ie-emulation-modes-warning.js"></script>	

  </head>

  <body style="background-color: #F6F6F6">

	<!-- Header -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid" style="background-color: #FFF">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
		  <img style="float:left; padding-top:5px; margin-right:20px" src="../images/logo.png" height="15%" width="15%">
          <a class="navbar-brand" href="#">Healsis</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
			<a href="../index.jade" type="button" class="btn btn-sm btn-default"  
			 style="font-size:14px; padding-left:15px; padding-right:15px; margin-top:10px; margin-right:20px; float:right">Logout</a>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
	    
		<!-- Navigation Bar -->
		<div class="col-sm-3 col-md-2 sidebar">
		  <div class="nav-sidebar-subtitle">Data Base</div>  
          <ul class="nav nav-sidebar">
            <li class="active"><a href="../dashboard.jade">Client Data Inquiry</a></li>
            <li><a href="patient_data_update.jade">Client Data Update</a></li>
            <li><a href="neighbor_stat.jade">Neighborhood Statistics</a></li>
            <li><a href="staff_contact.jade">Staff Contact Info</a></li>
			<li><a href="my_profile.jade">My Profile</a></li>
          </ul>
		  <div class="nav-sidebar-subtitle">Task Center</div> 
          <ul class="nav nav-sidebar">
            <li><a href="assign_tasks.jade">Assgin Tasks</a></li>
            <li><a href="my_tasks.jade">My Tasks</a></li>
            <li><a href="generate_reg.jade">Generate Reg Key</a></li>
          </ul>
		  <div class="nav-sidebar-subtitle">Personal Health</div>
          <ul class="nav nav-sidebar">
            <li><a href="#">My H-Graph</a></li>
          </ul>
        </div>
		
		<!-- Main Frame -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Client Data Update</h1>

		  <!-- Section Title --> 
          <!-- <h2 class="sub-header">Section title</h2> -->
		  
		  <div class="row">
		  
		    <!-- Input Column 1/2 -->
		    <div class="col-md-5">			
			  <div class="row">
				<label class="item-name col-md-5">Patient ID</label>
				<input id="txtFd_PatientID" class="form-control input-field col-md-7" style="width:35%">						  
				<button type="button" class="btn btn-sm btn-default btn-big" style="width:16%; margin-left:5px;"
				 onclick="clickFind()">Find</button>
			  </div>
			  <div class="row">
				<label class="item-name col-md-5">First Name</label>
				<input id="txtFd_FirstName" class="form-control input-field col-md-7">
			  </div>		  
			  <div class="row">
				<label class="item-name col-md-5">Last Name</label>
				<input id="txtFd_LastName" class="form-control input-field col-md-7">
			  </div>			  
			  <div class="row">
				<label class="item-name col-md-5">Hypertension</label>
				<select id="txtSel_Hypertension" class="form-control select-list col-md-7">
					<option>Yes</option>
					<option>No</option>
				</select>
              </div>
			  <div class="row">
				<label class="item-name col-md-5">Diabetes</label>
				<select id="txtSel_Diabetes" class="form-control select-list col-md-7">
					<option>Yes</option>
					<option>No</option>
				</select>
              </div>
			  <div class="row">
				<label class="item-name col-md-5">Hypertension Risk</label>
				<select id="txtSel_HyperRisk" class="form-control select-list col-md-7">
					<option>Low</option>
					<option>High</option>
				</select>
              </div>
			  <div class="row">
				<label class="item-name col-md-5">Diabetes Risk</label>
				<select id="txtSel_DiabRisk" class="form-control select-list col-md-7">
					<option>Low</option>
					<option>High</option>
				</select>
              </div>			  
			  <div class="row">
				<label class="item-name col-md-5">Blood Pressure</label>
				<input id="txtFd_BloodPressure" class="form-control input-field col-md-7">
			  </div>			  
			  <div class="row">
				<label class="item-name col-md-5">Blood Sugar</label>
				<input id="txtFd_BloodSugar" class="form-control input-field col-md-7">
			  </div>
			  <div class="row">
				<label class="item-name col-md-5">Urination Count</label>
				<input id="txtFd_UriCount" class="form-control input-field col-md-7">
			  </div>			  
			  <div class="row">
				<label class="item-name col-md-5">Dry Tongue</label>
				<input id="txtFd_DryTongue" class="form-control input-field col-md-7">
			  </div>			  
			  
			</div>


			  
			<!-- Input Column 2/2 -->
		    <div class="col-md-5">
			  <div class="row">
				<label class="item-name col-md-5">Gender</label>
				<select id="txtSel_Gender" class="form-control select-list col-md-7">
					<option>Female</option>
					<option>Male</option>
				</select>
              </div>		  	  
			  <div class="row">
				<label class="item-name col-md-5">Height (Feet)</label>
				<input id="txtFd_Height" class="form-control input-field col-md-7">
			  </div>			  
			  <div class="row">
				<label class="item-name col-md-5">Weight (Kg)</label>
				<input id="txtFd_Weight" class="form-control input-field col-md-7">
			  </div>			
			  <div class="row">
				<label class="item-name col-md-5">Area</label>
				<select id="txtSel_Area" class="form-control select-list col-md-7">
					<option>Area 1</option>
					<option>Area 2</option>
					<option>Kulkatpally</option>
				</select>
              </div>
			  <div class="row">
				<label class="item-name col-md-5">Location</label>
				<select id="txtSel_Location" class="form-control select-list col-md-7">
					<option>Location 1</option>
					<option>Location 2</option>
					<option>Location 3</option>
					<option>Location 4</option>
					<option>FatehNagar</option>					
				</select>
              </div>
			  <div class="row">
				<label class="item-name col-md-5">Comments</label>
				<textarea id="txtAr_Comments" class="form-control input-area col-md-7" style="width:220px; height:150px"
				 maxlength="140"></textarea> <!-- maxlength = max number of the input letters in this text area -->
			  </div>
			  <div class="row">
			    <label class="item-name col-md-5"></label>
				<p class="col-md-7" style="margin-top:7px; margin-left:-4px">Less than 140 Letters</p>
			  </div>
			</div>

			
		  </div>
		  
		  <!-- center aligning has no effect if the width property is not set or set to 100% -->
		  <div id="btn_Update" class="row" style="margin:auto; width:30%; margin-top:5px">
			<button type="button" class="btn btn-sm btn-default btn-big" onclick="clickUpdate()">Update</button>
		  </div>
		  
		  
        </div>
      </div>
    </div>

	<!-- Scripts are placed at the end of the document so the pages load faster -->
    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>

    <script>
		function clickFind() {
			var patientID = document.getElementById("txtFd_PatientID").value;
			var area = document.getElementById("txtSel_Area").value;
			var location = document.getElementById("txtSel_Location").value;
			
			document.getElementById("txtSel_Hypertension").value = "No";
			document.getElementById("txtSel_HyperRisk").value = "High";
			document.getElementById("txtSel_DiabRisk").value = "High";
			document.getElementById("txtFd_BloodPressure").value = "110/82";
			document.getElementById("txtFd_BloodSugar").value = 130;
			document.getElementById("txtFd_UriCount").value = 3;
			document.getElementById("txtFd_DryTongue").value = "No";
			document.getElementById("txtSel_Gender").value = "Female";
			document.getElementById("txtFd_Height").value = 5;
			document.getElementById("txtFd_Weight").value = 51.3;
			document.getElementById("txtSel_Area").value = "Kulkatpally";
			document.getElementById("txtSel_Location").value = "FatehNagar";			
		}
	</script>
	
  </body>
</html>
