<div class="modal fade" id="registerModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="border-radius: 0px;">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">welcome to Healsis</h4>
                <i class="fa fa-spinner fa-spin" style="font-size: 35px;position: absolute;top: 12px;right: 20px;"
                   ng-show="showSpinner"></i>
            </div>
            <div class="modal-body">
                <!-- Login Form -->
                <form role="form">
                    <fieldset>
                        <div class="alert alert-danger" ng-show="registerData.errorInfo">{{registerData.errorInfo}}
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="cellphone" type="cellphone"
                                   ng-model="registerData.cellphone" autofocus style="border-radius: 0px;">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="password" type="password"
                                   ng-model="registerData.password"
                                   style="border-radius: 0px;">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="name" type="text"
                                   ng-model="registerData.name"
                                   style="border-radius: 0px;">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="verification code" type="text"
                                   ng-model="registerData.verification"
                                   style="border-radius: 0px; width: 50%; float:left;">
                            <button class="form-control" type="text"
                                    style="border-radius: 0px; width: 50%; float: left; background-color: #00ce9b; color:white;"
                                    ng-click="sendMessage(registerData.cellphone)">sent
                            </button>
                            <div style="clear: both;"></div>
                        </div>
                        <div class="form-group">
                            <select class="form-control" placeholder="region" type="text"
                                    ng-options="value.name for value in Provinces"
                                    style="border-radius: 0px;" ng-model="registerData.Province"
                                    ng-change="onProvinceChanged()">
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" placeholder="state" type="text"
                                    ng-options="value.name for value in Schools"
                                    style="border-radius: 0px;" ng-model="registerData.School">
                            </select>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="comments" type="text"
                                      ng-model="registerData.applyLetter"
                                      style="border-radius: 0px; height:140px;"></textarea>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="remember" type="checkbox" value="Agree Me" ng-model="registerData.agreeMe">I've read the terms
                            </label>
                            <!--
                            <a href="{{loginData.forget_passwd}}" style="float:right">forget</a>
                            -->
                        </div>
                        <!-- Change this to a button or input when using this as a form -->
                        <a href="http://ca.fenyin.me/contact.htm" target="_blank">
                            <div></div>
                        </a><br>
                        <a class="btn btn-lg btn-primary btn-block" ng-class=" {'disabled':registerData.agreeMe === false}"
                           style="padding:6px 12px; border-radius: 0px;"
                           ng-click="registerAmbassador()">registration</a>
                    </fieldset>
                </form>
                <!-- # Login Form -->
            </div>
        </div>
    </div>
</div>